.env
.env.local
node_modules/
dist/
coverage/
.git/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
.idea/
.vscode/
*.swp
*.swo
*~
.cache/
build/
test/
